<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>部门管理</title>
    <link type="text/css" rel="stylesheet" href="/static/css/style.css" >
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="/static/script/jquery-1.7.2.js"></script>
</head>

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="//unpkg.com/element-ui@2.15.7/lib/index.js"></script>

<body>
<div id="header">
    <span class="wel_word">现有部门</span>
    <div>
        <a href="/Admin_logout">登出系统</a>

    <el-button type="text" @click="dialog = true">添加新部门</el-button>

    <el-drawer
            title="添加新部门："
            :before-close="handleClose"
            :visible.sync="dialog"
            direction="ltr"
            custom-class="demo-drawer"
            ref="drawer"
    >
        <div class="form">
            <form action="/add_department" method="POST">
                <label>部门名称：</label>
                <input class="itxt" type="text" placeholder="部门名称" autocomplete="off" tabindex="1" name="dname" id="dname"/>
                <br />
                <br />
                <label>负责人名称：</label>
                <input class="itxt" type="text" placeholder="负责人名称" autocomplete="off" tabindex="1" name="uname" id="uname"/>
                <br />
                <br />
                <label>部门描述：</label>
                <input class="itxt" type="text" placeholder="部门描述" autocomplete="off" tabindex="1" name="ss" id="ss"/>
                <br />
                <br />
                <br />
                <input type="submit" value="添加" id="sub_btn" @click="ok"/>
            </form>
        </div>
    </el-drawer>
    </div>
</div>

<div id="main">
    <table>
        <tr>
            <td>部门名称</td>
            <td>负责人</td>
            <td>描述</td>
            <td colspan="2">操作</td>
        </tr>
        {{range .Departments}}
        <tr>
            <td>{{.D_name}}</td>
            <td>{{.D_manager}}</td>
            <td>{{.D_description}}</td>
            <td><a href="/Admin_portjectManagement?department={{.D_name}}" URLEncoding="UTF-8">查看</a></td>
            <td><a id="{{.D_name}}" class="deleteBook" href="/edit_department?department={{.D_name}}">编辑</a></td>
        </tr>
        {{end}}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <div id="page_nav">
        {{if .IsHasPrev}}
        <a href="/getPageBooks">首页</a>
        <a href="/getPageBooks?pageNo={{.GetPrevPageNo}}">上一页</a>
        {{end}}
        当前是第{{.PageNo}}页，共{{.TotalPageNo}}页，共{{.TotalRecord}}条记录
        {{if .IsHasNext}}
        <a href="/getPageBooks?pageNo={{.GetNextPageNo}}">下一页</a>
        <a href="/getPageBooks?pageNo={{.TotalPageNo}}">末页</a>
        {{end}}
        到第<input value="{{.PageNo}}" name="pn" id="pn_input"/>页
        <input type="button" value="确定" id="sub">
        <script>
            //给确定按钮绑定单击事件
            $("#sub").click(function(){
                //获取输入的页码
                var pageNo = $("#pn_input").val();
                location = "/getPageBooks?pageNo="+pageNo
            });
        </script>
    </div>

</div>

<div id="bottom">
		<span>
			部门管理主页面
		</span>
</div>
</body>

<script>
    var Main =  {
        data() {
            return {
                table: false,
                dialog: false,
                loading: false,
                formLabelWidth: '80px',
                timer: null,
            };
        },
        methods: {
            ok() {
                alert("已提交部门添加！");
            }
        },
    }

    var Ctor = Vue.extend(Main)
    new Ctor().$mount('#header')
</script>

</html>