<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>监控管理用户</title>
	<link type="text/css" rel="stylesheet" href="../../static/css/style.css" >
	<style type="text/css">
		h1 {
			text-align: center;
			margin-top: 200px;
		}

		h1 a {
			color:red;
		}
	</style>
</head>

<body>
<div id="header">
<!--	<img class="logo_img" alt="" src="../../static/img/logo.gif" >-->
	<div>
		<span><span class="um_span">你拥有管理权限:</span></span>
		<a href="/monibuca">启动monibuca |</a>
		<a href="/regist">添加普通用户 |</a>
		<a href="/logout">退出系统</a>
	</div>
</div>

<div id="main">
	<h1>欢迎回来 <a href="/ui/" target="view_window">打开monibuca主界面</a></h1>
	<h1><a href="/ffmpeg" target="view_window">ffmpeg推流</a></h1>
</div>

<div id="bottom">
			<span>
				监控Test管理用户主界面
			</span>
</div>

</body>
</html>