<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>监控管理用户</title>
	<link type="text/css" rel="stylesheet" href="../../static/css/style.css" >
	<style type="text/css">
		h1 {
			text-align: center;
			margin-top: 200px;
		}
		h1 a {
			color:black;
		}
	</style>
</head>

<body>
<div id="header">
	<div>
		<span><span class="um_span">你拥有管理权限:</span></span>
		<a href="/department_manage">部门管理 |</a>
		<a href="/Admin_userManagement">用户管理 |</a>
		<a href="/logout">登出系统</a>
	</div>
</div>

<div id="main">
<!--	<h1>欢迎回来 <a href={{ . }} target="view_window">打开monibuca主界面</a></h1>-->
	<h1>
		<a>个人信息 |</a>
		<a href="/ffmpeg"> ffmpeg推流 </a>
		<a href="/gb28181" target="view_window">关于GB28181接入参数 </a>
	</h1>
	<h1><a> 关于本系统 </a></h1>
</div>

<div id="bottom">
			<span>
				监控Test管理员主界面
			</span>
</div>

</body>
</html>