<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Test注册用户(邮箱)</title>
  <link type="text/css" rel="stylesheet" href="../../static/css/style.css" >
  <!-- 引入样式 -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <style type="text/css">
    .login_form{
      height:420px;
      margin-top: 25px;
    }
  </style>
  <script src="../../static/script/jquery-1.7.2.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <!-- 引入组件库 -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <!-- import Vue before Element -->
  <script src="//unpkg.com/element-ui@2.15.7/lib/index.js"></script>

  <script>
    $(function(){
      $("#sub_btn_admin").click(function(){
        var username = $("#username").val();
        var usernameReg = /^[a-zA-Z0-9_-]{3,16}$/;
        var flag = usernameReg.test(username);
        if(!flag){
          alert("请输入3-16位的字母、数字、下划线或减号的用户名！");
          return false;
        }
        var password = $("#password").val();
        var passwordReg = /^[a-zA-Z0-9_-]{6,18}$/;
        if(!passwordReg.test(password)){
          alert("请输入6-18位的字母、数字、下划线或减号的密码！")
          return false;
        }
        var repwd = $("#repwd").val();
        if(repwd == ""){
          alert("确认密码不能为空！");
          return false;
        }
        // var emailReg =   /^[a-zA-Z0-9.! #$%&'*+\/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)+[a-z]{2,}$/;
        // if(!emailReg.test(email)){
        //   alert("邮箱格式不正确！");
        //   return false;
        // }
      });
    });
  </script>
</head>

<body>

<div class="login_banner_admin">
  <div id="l_content">
  </div>

  <div id="content">
    <div class="login_form">
      <div class="login_box">
        <div class="tit">
          <h1>注册监控Test用户</h1>
        </div>
        <div class="msg_cont">
        <b>
          <span class="errorMsgRed">{{ .err }}</span>
        </b>
      </div>
        <br>
        <div class="form">
          <form action="/regist_email" method="POST">
            <label>邮&nbsp;&nbsp;&nbsp;箱：</label>
            <input class="itxt" type="text" placeholder="请输入邮箱" autocomplete="off" tabindex="1" name="email" id="email" value="{{.email}}" />
            <br />
            <br />
            <label>密&nbsp;&nbsp;&nbsp;码：</label>
            <input class="itxt" type="password" placeholder="确认密码" autocomplete="off" tabindex="1" name="password" id="password" value="{{.password}}" />
            <br />
            <br />
            <label>所属部门: </label>
            <input class="itxt" type="text" placeholder="所属部门" autocomplete="off" tabindex="1" name="department" id="department" value="{{.department}}"/>
            <br />
            <br />
            <input class="itxt" type="vcode" placeholder="请输入验证码" autocomplete="off" tabindex="1" name="vcode" id="vcode" >
            <el-button type="primary" native-type="submit" id="verify">获取验证码</el-button>
            <br />
            <br />
            <input type="submit" value="注册" id="sub_btn_admin" />
          </form>

        </div>

      </div>
    </div>
  </div>
</div>

</body>

<script>
  var Main = {

  }
  var Ctor = Vue.extend(Main)
  new Ctor().$mount('#verify')
</script>

</html>